
@{
    ViewBag.Title = "yeniogrenci";
    Layout = "~/Views/Shared/mainlayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori adı</label>
        <input type="text" class="form-control" name="ogradi" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">ogrenci ekle</button>
    </div>

</form>


